<main>
      <section class="row-section">
          <div class="container">
              <div class="row">
                  <h1 class="text-center">
                      <i class="fa fa-archive" aria-hidden="true"></i> Optional Courses
                  </h1>
              </div>
              <div class="col-md-10 offset-md-1 row-block">
                  <ul>
                      <li *ngFor="let course of courses | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: currentPageNumber
                      }">
                      <app-course-detail [course]="course"></app-course-detail>
                      </li>
                  </ul>

                  <pagination-controls
                      (pageChange)="currentPageNumber = $event">
                  </pagination-controls>
              </div>
          </div>
      </section>
 </main>
