.panel .panel-body {
  margin-left: 110px;
}

.row {
  margin-left: 200px;
}

h5 {
  margin-left: 110px;
}

p {
  margin-left: 110px;
}

main {
  margin-top: 50px;
  padding-top: 20rem;
  padding-bottom: 32rem;
  background-image: url("../../../assets/imgs/balloon-381334_1280.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
