.panel {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 5px !important;
}

.panel-default {
  border-color: #ebedef !important;
}

.panel .panel-body {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}

main {
  margin-top: 300px;
}
