<div class="media">
  <div class="media-body">
      <h4 class="text-center">Name: {{course.name}}</h4>
      <br>
      <p class="text-center">Credits: {{course.credits}}</p>
      <p class="text-center"> Available places: {{course.availablePlacesInCourse}}</p>

      <input [routerLink]="['/moderator/students', course.id]"
             class="btn btn-lg btn-warning btn-link" value="Add Student" type="submit">
      <input [routerLink]="['/moderator/lecturers', course.id]"
             class="btn btn-lg btn-warning btn-link" value="Add Lecturer" type="submit">
  </div>
</div>
