.row {
  margin-top: 70px;
}

.text-center {
  margin-left: 450px;
}

main {
  margin-top: 3%;
  padding-top: 0.1rem;
  padding-bottom: 32rem;
  background-image: url("../../../assets/imgs/computer-1231889_1280.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
