main {
  margin-top: 3%;
  padding-top: 10rem;
  padding-bottom: 32rem;
  background-image: url("../../../assets/imgs/subscribe-3096723_1280.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.input-group span {
  padding-right: 10px;
}

.error {
  color: red;
}

.col-md-10 span {
  padding-left: 13px;
}
