main {
  margin-top: 7%;
}

input.ng-invalid {
  border-color: red;
}

input.ng-valid {
  border-color: green;
}

.login-button {
  margin-top: 5px;
}

.validation-feedback {
  color: red;
}

.left {
  float: left;
}
