<main>
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto">
                <div class="card card-body">
                    <form class="form-horizontal"
                        (ngSubmit)='onRegisterSubmit()'
                        [formGroup]="userForm" >
                        <div class="form-group"
                            [ngClass]="{'error': userForm.controls['username'].errors }">

                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="fa fa-user fa" aria-hidden="true"></i>
                               </span>
                               <input class="form-control"
                                        type="text"
                                        placeholder="Username (required)"
                                        formControlName="username" />
                            </div>

                            <div class="col-md-10" *ngIf="userForm.controls['username'].errors &&
                                         userForm.controls['username'].dirty">
                                <span *ngIf="userForm.controls['username'].hasError('required')">
                                       Username is required
                                </span>
                                <span *ngIf="userForm.controls['username'].hasError('pattern')">
                                       Invalid Username
                                </span>
                           </div>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'error': userForm.controls['firstName'].errors }">

                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="fa fa-user fa" aria-hidden="true"></i>
                               </span>
                               <input class="form-control"
                                        type="text"
                                        placeholder="First Name (required)"
                                        formControlName="firstName" />
                            </div>

                            <div class="col-md-10" *ngIf="userForm.controls['firstName'].errors &&
                                         userForm.controls['firstName'].dirty">
                                <span *ngIf="userForm.controls['firstName'].hasError('required')">
                                       First Name is required
                                </span>
                                <span *ngIf="userForm.controls['firstName'].hasError('pattern')">
                                       Invalid First Name
                                </span>
                           </div>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'error': userForm.controls['lastName'].errors }">

                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="fa fa-user fa" aria-hidden="true"></i>
                               </span>
                               <input class="form-control"
                                        type="text"
                                        placeholder="Last Name (required)"
                                        formControlName="lastName" />
                            </div>

                            <div class="col-md-10" *ngIf="userForm.controls['lastName'].errors &&
                                         userForm.controls['lastName'].dirty">
                                <span *ngIf="userForm.controls['lastName'].hasError('required')">
                                       Last Name is required
                                </span>
                                <span *ngIf="userForm.controls['lastName'].hasError('pattern')">
                                       Invalid Last Name
                                </span>
                           </div>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'error': userForm.controls['email'].errors }">

                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                               </span>
                               <input class="form-control"
                                        type="text"
                                        placeholder="Email (required)"
                                        formControlName="email" />
                            </div>

                            <div class="col-md-10" *ngIf="userForm.controls['email'].errors &&
                                         userForm.controls['email'].dirty">
                                <span *ngIf="userForm.controls['email'].hasError('required')">
                                       Email is required
                                </span>
                                <span *ngIf="userForm.controls['email'].hasError('pattern')">
                                       Invalid Email
                                </span>
                           </div>
                        </div>

                        <div class="form-group"
                            [ngClass]="{'error': userForm.controls['password'].errors }">

                            <div class="input-group">
                                <span class="input-group-addon">
                                  <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                               </span>
                               <input class="form-control"
                                        type="text"
                                        placeholder="Password (required)"
                                        formControlName="password" />
                            </div>

                            <div class="col-md-10" *ngIf="userForm.controls['password'].errors &&
                                         userForm.controls['password'].dirty">
                                <span *ngIf="userForm.controls['password'].hasError('required')">
                                       Password is required
                                </span>
                                <span *ngIf="userForm.controls['password'].hasError('pattern')">
                                       Invalid Password
                                </span>
                            </div>
                        </div>

                        <input
                           class="btn btn-lg btn-primary btn-block"
                          [disabled]="!userForm.valid" value="Register" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
