<main>
      <section class="row-section">
          <div class="container">
              <div class="row">
                  <h1 class="text-center">
                      <i class="fa fa-user fa-2x" aria-hidden="true"></i> Lecturers
                  </h1>
              </div>
              <div class="col-md-10 offset-md-1 row-block">
                  <ul>
                      <li *ngFor="let lecturer of lecturers | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: currentPageNumber
                      }">
                      <br>
                      <h5>{{lecturer.username}}</h5>
                      <p>{{lecturer | fullName}}</p>
                      <button class="btn btn-success" type="submit" (click)="onAddLecturer(lecturer.id)">
                        Add lecturer to course
                      </button>
                      <br>
                      </li>
                  </ul>

                  <pagination-controls
                      (pageChange)="currentPageNumber = $event">
                  </pagination-controls>
              </div>
          </div>
      </section>
</main>
