.navbar {
  height: 60px;
}

.dropdown {
  width: 120px;
}

.dropdown-menu {
  width: 120px;
}

.navbar-right {
  float: right !important;
}

.profile-pic-small {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
}
